*
{
    margin: 0;
    padding: 0;
}
header
{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.9)),url(naruto.jpg);
    height: 150vh;
    width: 160vh;
    background-size: cover;
    background-position: center;
}