.head{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)),url(head.jpg);
	background-size:200px;
	background-position: bottom;
	margin-bottom: 10px; 
	height: 200px;
	padding-top: 30px;
	width: cover;
	color: white;

}

.conten{

	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)),url(conten.png);
	margin-bottom: 10px;
	height: 900px;
	padding-top:50px; 
	padding-left: 10px;
	text-align: justify;
	padding-right: 10px;
	color: white;
	background-size: cover;

}


.footer{

	background-color: brown;
	height: 200px;
	font-size: 20px;
	padding-top: 50px;
}
